.flyout {
  position: fixed;
  bottom: 5px;
  width: 50%;
  background-color: var(--component-color);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0px 1px 7px black;
}

.flyout p {
  color: white;
  margin: 0;
}

.flyout button {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.flyout-download {
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid transparent;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.flyout-download:hover {
  color: white;
  border-color: #646cff;
}
