.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.logo {
  height: 50px;
}
.searchArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 200px;
  background-color: #123882;
}
.resultsArea,
.errorMessage {
  padding-inline: 200px;
  padding-block: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
